extends base.pug

block content
    div#app.container
        div.banner(v-if='showBanner')
            div.banner-text
                | 🎉 Text to Cards is updated.
                |
                a(href='https://somiandras.gitbook.io/text-to-cards/v/dev/whats-new/changelog' target='_blank') Check out what's new!
                |
                |
                | 🎉
            div.banner-close
                a.close-button(href='#' v-on:click='hideBanner') ✕

        div.panels
            div.panel.hint
                div.hint-text
                    h3 Cheat sheet
                    ul
                        li #[code ::card title]: Beginning of a card
                        li #[code @username] or #[code @initials]: Add member
                        li #[code #label] or #[code \#{label with spaces}]: Add label
                        li #[code $due: YYYY-MM-DD]: Due date
                    p
                        | For details check out the
                        |
                        a(href='https://somiandras.gitbook.io/text-to-cards/how-to/usage' target='blank_') docs.

                h3 Members on {{ board.name }}
                div.members-list
                    div.list
                        trello-member(v-for='member in board.members' v-bind:member='member' v-bind:key='member.id')
                h3 Labels on {{ board.name }}
                div.labels-list
                    div.list
                        trello-label(
                            v-for='label in boardLabels'
                            v-bind:name='label.name'
                            v-bind:key='label.id'
                            v-bind:color='label.color'
                        )
            div.panel
                h3 Your text
                textarea#memo-text(
                    v-on:input='parseInput'
                    placeholder='Insert your text here'
                    ref='text'
                )

            div.panel
                h3 Preview
                   small.no-cards &nbsp;- {{ cardCountText }}
                div.preview-list
                    div.card-preview(v-if='cards.length > 0')
                        trello-card(v-for='card in cards' v-bind:card='card' v-bind:key='card.raw')
                div.controls
                    label(for='listSelect') Select list
                    select(name='listSelect' v-model='selectedList')
                        option(disabled value='') Please select a list
                        option(v-for='list in lists' v-bind:value='list') {{ list.name }}
                    br
                    small(v-if='selectedList.name') Cards will be added to the top of #[strong {{ selectedList.name }}].
                    small(v-else) Select the list where you want to add the cards.
                    div
                        button.mod-primary(
                            v-on:click='createCards'
                            v-bind:disabled='!buttonEnabled'
                        ) {{ buttonText }}
                div.message(v-if='message')
                    h5 😱 Oops... Something went sideways
                    p Sorry to let you down, but this happened:
                    |
                    pre.error {{ message }}
