html
    head
        link(rel="stylesheet" href="https://p.trellocdn.com/power-up.css")
    body
        block content
        script(src="https://p.trellocdn.com/power-up.min.js" type="text/javascript")
