doctype html
html
    head
        link(rel="stylesheet" href="main.css")
        link(rel="stylesheet" href="https://p.trellocdn.com/power-up.css")
    body
        block content
        script(type="text/javascript" src="https://p.trellocdn.com/power-up.min.js")
        script(type="text/javascript" src="https://p.trellocdn.com/card.min.js")
