extends base.pug

block content
    div(class='container')
        div(style='display: flex; justify-content: space-between;')
            p Authorize Memo-to-Trello to start creating cards.
            button(class='mod-primary authorize-button') Yeah, baby!
