/* Popup */

.authorize-button {
    margin: 10px;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Modal */

.panels {
    margin: 30px;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
}

.panel {
    margin: 20px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel:nth-child(1) {
    flex: 1 0 300px;
}

.panel:nth-child(2) {
    flex: 3 0 300px;
}

.panel:nth-child(3) {
    flex: 0 0 300px;
    margin-right: 0px;
}

.panel h3 {
    flex: 0 0 auto;
}

.no-cards {
    font-size: 13px;
    color: #5e6c84;
}

.hint-text {
    font-size: 12px;
    overflow: scroll;
    flex: 0 0 auto;
}

.hint-text ul {
    list-style-type: disc;
    padding-left: 2em;
}

.hint-text p {
    margin-top: 6px;
}

.hint > h3 {
    margin-top: 20px;
}

.members-list {
    flex: 1 0 0;
    min-height: 0;
    overflow: scroll;
}

.labels-list {
    flex: 0 0 auto;
    min-height: 0;
    overflow: scroll;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#memo-text {
    flex: 1 1 100px;
    margin-bottom: 0px;
}

.preview-list {
    width: 286px;
    flex: 1 1 0;
    min-height: 0;
    overflow: scroll;
}

.card-preview {
    background: #ebecf0;
    padding: 3px;
}

.controls {
    flex: 0 0 auto;
}

.message {
    margin: 30px 0px;
    border: 1px black;
    border-radius: 1em;
    font-size: 12px;
}

.error {
    color: red;
}

@media (max-width: 1070px) {
    .panel.hint {
        order: 3;
        margin-right: 0px;
    }

    .panel:nth-child(3) {
        margin-right: 40px;
    }
}