extends base.pug

block content
    div#app.container
        h1 Memo to Trello
        div.panels
            div.panel.hint
                h3 Hint
                p
                    ol(type='1')
                        li Copy or type your memo in the box.
                        li Use the simple markup to convert it to Trello cards.
                        li Select the list where you want to add the cards.
                        li Click the button.
                        li Enjoy!
                p #[strong Symbols:]
                p #[code ::card title]: Everything in the first line after the double colon will be the card title. The rest is the description, if longer than 5 characters.
                p #[code @username] or #[code @initials]: Add a member to the card
                p #[code #label]: Add label to the card
                p #[code $due: YYYY-MM-DD]: Due date of card (first occurence will be used).
                p
                    small
                        em #[strong Note: ] Labels and members should be already on the board.

            div.panel
                div
                    h3 Your memo
                    textarea#memo-text(
                        rows=30
                        v-on:input='parseInput'
                        placeholder='Insert your memo here'
                        ref='text'
                    )

            div.panel.preview
                div.preview-list
                    h3 Preview
                    div.no-cards(v-if='cards.length === 0') No cards, yet.
                    div(v-else)
                        div.card-preview
                            trello-card(v-for='card in cards' v-bind:card='card' v-bind:key='card.raw')
                div
                    label(for='listSelect') Select list
                    select(name='listSelect' v-model='selectedList')
                        option(disabled value='') Please select a list
                        option(v-for='list in lists' v-bind:value='list') {{ list.name }}
                    br
                    small(v-if='selectedList.name') Cards will be added to the top of #[strong {{ selectedList.name }}].
                    small(v-else) Select the list where you want to add the cards.
                div
                    div(v-if='message')
                        span(style='margin:auto') {{ message }}
                    button.mod-primary(
                        v-else
                        v-on:click='createCards'
                        v-bind:disabled='buttonDisabled'
                    ) {{ buttonText }}
